<view>
    <h1>Messages</h1>

    <note>Note <verbatim>(<type>Type</type>)</verbatim></note>

    <caution>Caution</caution>

    <warning>Warning</warning>

    <error>Error</error>

    <success>Success</success>

    <any-key/>

    <redirect to="menu"></redirect>
</view>