<view>
    <h1>Form example</h1>

    <form>
        <label for="foo">Foo</label>
        <input type="text" name="foo" value="lorem">
        <label for="bar">Bar</label>
        <input type="text:" name="bar" value="ipsum">
    </form>

    <any-key></any-key>

    <redirect to="menu"></redirect>
</view>