<view>
    <nav>
        <a href="start">Go to start</a>
        <a href="form">Form</a>
        <a href="example:table">Table + interactive table</a>
        <a href="example:other-input">Other input</a>
        <a href="example:messages">Messages</a>
        <a href="example:other">Loops, expressions etc.</a>
        <a href="exit">Exit</a>
    </nav>
</view>